<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_09_Increase_Age_Stored_Procedure.Properties.Settings.Connection"
            connectionString="Data Source=STOYAN-NOTEBOOK\SQLSERVER;Initial Catalog=MinionsDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>